body {
  background-color: white;
  color: black;
  font: 10pt Ubuntu, sans-serif;
  line-height: 15pt;
  margin: 0;
  padding: 10px;
}

a {
  color: #000088;
  text-decoration: underline;
}

a.local {
  color: inherit;
  text-decoration: none;
}

a.local:hover {
  text-decoration: underline;
}

a.rss {
  background: url(images/rss.png) no-repeat top left;
  padding-left: 18px;
}

em {
  font-style: normal;
  background-color: #ffff80;
}

h2 {
  margin: 1.5em 0 .5em;
}

h2 a {
  color: inherit;
  text-decoration: none;
}

h2 a:hover {
  text-decoration: underline;
}

.icon a {
  background-position: center left;
  background-repeat: no-repeat;
  margin-left: 0 !important;
  padding-left: 18px;
}

.icon-rss a {
  background-image: url(images/rss.png);
}

#player {
  border: 1px solid #cccccc;
  border-radius: 4px;
  padding: 2px;
  width: 30px;
  height: 30px;
}

#player.right {
  margin-left: 1em;
}

#wrapper {
  width: 600px;
  margin: 0 auto;
  position: relavite;
}

#nav {
  position: fixed;
  top: 30px;
  left: 10px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  line-height: 2em;
}

#nav li.group {
  margin-top: 1em;
  border-top: solid 1px #dddddd;
}

#nav li.active a {
  color: inherit;
  text-decoration: none;
  cursor: default;
}

#nav li a {
  margin-left: 18px;
}

#content ul {
  padding-left: 2em;
}

#content li {
  margin: .5em 0;
}

#footer {
  margin: 2em 0 0 0;
  border-top: solid 1px #cccccc;
  padding-top: .5em;
  font-size: 90%;
}

table {
  border-collapse: collapse;
  width: 100%;
}

table td {
  border: solid 1px #cccccc;
  padding: 2px 6px;
}

table td:first-child {
  width: 120px;
}

form div {
  margin-bottom: 1em;
}

form label {
  display: block;
}

form .text {
  width: 80%;
  font-family: arial, sans-serif;
  font-size: 12pt;
  border: 1px solid #bbbbbb;
  padding: 4px 6px;
}