body {
  background-color: white;
  color: black;
  font: 12pt Ubuntu, sans-serif;
  line-height: 18pt;
  margin: 0;
  padding: 10px;
}

a {
  color: #000088;
  text-decoration: underline;
}

#wrapper {
  width: 600px;
  margin: 0 auto;
  position: relavite;
}

#nav {
  position: fixed;
  top: 30px;
  left: 10px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  line-height: 2em;
}

table {
  border-collapse: collapse;
  width: 100%;
}

table td {
  border: solid 1px #cccccc;
  padding: 2px 6px;
}

table td:first-child {
  width: 120px;
}

form div {
  margin-bottom: 1em;
}

form label {
  display: block;
}

form .text {
  width: 80%;
  font-family: arial, sans-serif;
  font-size: 12pt;
  border: 1px solid #bbbbbb;
  padding: 4px 6px;
}